<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                <td class="content-cell" align="center">
                    <p><img src="cid:b4u-logo" width="165" /></p>
                    <p class="f-fallback sub align-center">&copy; Copyright 2016-2021 B4UFinancial LLC. All Right Reserved</p>
                    <p class="f-fallback sub align-center">The first B-commerce Blockchain Powered by Global Network
                    <br>Powered by Bitcoin POS
                    </p>
                </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

